.content
  .page-header
    if update
      - var title = 'Update ' + org.name;
    else
      - var title = 'Create Org';
    h2= title

  if update
    - var form_action = '/orgs/' + org.slug;
  else
    - var form_action = '/orgs';
  form#create-org(action=form_action, method='POST').main-form
    if update
      input(type='hidden', name='_method', value='PUT')

    label(for='name') Name:
    .input
      input(type='text', name='name', value=org.name)#name
  
    label(for='slug') Slug:
    .input
      input(type='text', name='slug', value=org.slug)#slug
  
    label(for='description') Description:
    .input
      textarea(name='description', rows=20, cols=80)#description= org.description
  
    .actions
      if update
      input(type='submit', value=title).btn.primary
      input(type='button', name='previewBtn', value="Preview", onclick='onPreview();').btn

    .div(display='hidden',name='preview')#preview

script(type='text/javascript')
    $(function() {
        $('#name').focus();
    });
    
    function onPreview(event) {
        //load the preview snippet based on the text currently contained in the discription box
        //NOTE: this processes the mark down on the server, and gives it back to us in a div
        $('#preview').load('/orgs/preview', 'markdown=' + $('#description').text());
        $('#preview').display='visible';
    }

