.content
  .page-header
    if update
      h2 Edit Event
    else
      h2 Create Event

  if update
    - var form_url = '/events/' + req.params.id;
  else
    - var form_url = '/events';
  form#create-event(action=form_url, method='POST').main-form
    if update
      input(type='hidden', name='_method', value='PUT')
      input(type='hidden', name='_type', value='update')
      
    label(for='title') Title
    .input
      input(type='text', name='title', value=event.title)#title

    if !update
      label(for='org') Organization
      .input
        select(name='org')
          each org in orgs
            if user.is_admin || org.admins.indexOf(user.id) >= 0
              option(value= org.id)= org.name

    label(for='start_time') Start time
    .input
      input(type='text', name='start_time', value=event.start_time)#start_time

    label(for='end_time') End time
    .input
      input(type='text', name='end_time', value=event.end_time)#end_time

    label(for='description') Description
    .input
      textarea(name='description', rows=20, cols=200)#description= event.description

    .actions
      if update
        input(type='submit', value='Save').btn.primary
      else
        input(type='submit', value='Create Event').btn.primary

  
script(type='text/javascript')
  /*
    $(function() {
        $('#name').focus();
        var dp_opts = {
            changeMonth: true,
            changeYear: true,
            showOtherMonths: true,
            selectOtherMonths: true
        };
        $('#start_time').datepicker(dp_opts);
        $('#end_time').datepicker(dp_opts);
    });
  */