.content
  .page-header
    if update
      - var title = 'Update ' + org.name;
    else
      - var title = 'Create Org';
    h2= title

  if update
    - var form_action = '/orgs/' + org.slug;
  else
    - var form_action = '/orgs';
  form#create-org(action=form_action, method='POST').main-form
    if update
      input(type='hidden', name='_method', value='PUT')

    label(for='name') Name:
    .input
      input(type='text', name='name', value=org.name)#name
  
    label(for='slug') Slug:
    .input
      input(type='text', name='slug', value=org.slug)#slug
      .help-block This is the path that shows up in the URL (i.e., /orgs/slug)
  
    label(for='description') Description:
    .input
      textarea(name='description', rows=20, cols=80)#description= org.description
  
    .actions
      if update
      input(type='submit', value=title).btn.primary


script(type='text/javascript')
    $(function() {
        $('#name').focus();
    });
