a(href='/events/') Back to event list

h1= title

h2= org.name
p= 'Description: ' + event.description
p= event.start_time + ' - ' + event.stop_time

if (place != null)
  p= place.name

if (attendees.length != 0) 
    h3 Who's going
    ul
      each attendant in attendees
        .attendant
          li= attendant.name.first + ' ' + attendant.name.last
