extends layout
block content
  .content
    .page-header
      if user && (user.is_admin || org.admins.indexOf(user.id) >= 0)
        form(action=req.url, method='POST', data-confirm='#confirm-dialog').pull-right
          input(type='hidden', name='_csrf', value=req.session._csrf)
          input(type='hidden', name='_method', value='DELETE')
          input(type='submit', value='Delete').btn.error
        a(href=req.url + '/edit').btn.pull-right Edit
      a(href=req.url + '/kiosk').btn.pull-right Kiosk
      h1= event.title
        small
          a(href='/orgs/' + org.slug)= org.name

    if place != null
      p= place.name

    != md.parse(escape(event.description))

    h3 Start Time
    p(title=event.start_time)= alcohol(event.start_time)

    h3 End Time
    p(title=event.end_time)= alcohol(event.end_time)

    if user && JSON.parse(JSON.stringify(atts)).indexOf(user.id) < 0
      form(action='/events/' + event.id, method='POST')
        input(type='hidden', name='_csrf', value=req.session._csrf)
        input(type='hidden', name='_method', value='PUT')
        input(type='hidden', name='_type', value='attend')
    
        if event.passkey
          label(for='passkey') Passkey:
          .input
            input(type='text', name='passkey')#passkey
      
        input(type='submit', value="I'm here!").btn.large
    
    if (att_users.length != 0 || legacy.length != 0)
      h3 Who's going (#{att_users.length + legacy.length})
      table.span5
        tbody
          each attendee in att_users
            if user && attendee.id == user.id
              tr
                td(style='padding-top: 15px')= attendee.name.first + ' ' + attendee.name.last
                td
                  form(action='/events/' + event.id, method='POST', style='margin-bottom: 0')
                    input(type='hidden', name='_csrf', value=req.session._csrf)
                    input(type='hidden', name='_method', value='PUT')
                    input(type='hidden', name='_type', value='unattend')
                    input(type='submit', value='X').btn
            else
              tr
                td= attendee.name.first + ' ' + attendee.name.last
                td
          each attendee in legacy
            tr
              td= attendee.name.first + ' ' + attendee.name.last
              td
     if (att_guests.length != 0)
      h3(style='clear:both') Guests (#{att_guests.length})
      table.span5
        tbody
          each attendee in att_guests
            tr
              td= attendee.email
              if user && (user.is_admin || org.admins.indexOf(user.id) >= 0)
                td
                  p.gtid= attendee.gt_id
                td 
                  form(action='/events/' + event.id, method='POST', style='margin-bottom: 0')
                    input(type='hidden', name='_csrf', value=req.session._csrf)
                    input(type='hidden', name='_method', value='PUT')
                    input(type='hidden', name='guest', value=attendee.id)
                    input(type='hidden', name='_type', value='unguest')
                    input(type='submit', value='X').btn


           



  #confirm-dialog(style='display: none').modal.hide
    .modal-header
      a(href='#').close ×
      h3 Delete #{event.title}?
    .modal-body
      p Are you sure you want to delete #{event.title}?
    .modal-footer
      a(href='#').btn.error.confirm Confirm
      a(href='#').btn.secondary.cancel Cancel
