.content
  .page-header
    if user && (user.is_admin || org.admins.indexOf(user.id) >= 0)
      form(action=req.url, method='POST', data-confirm='#confirm-dialog').pull-right
        input(type='hidden', name='_method', value='DELETE')
        input(type='submit', value='Delete').btn.error
      a(href=req.url + '/edit').btn.pull-right Edit
    h1= event.title
      small= org.name

  if place != null
    p= place.name

  != md.parse(escape(event.description))

  h3 Start Time
  p(title=event.start_time)= alcohol(event.start_time)

  h3 End Time
  p(title=event.end_time)= alcohol(event.end_time)

  if user && event.attendees.indexOf(user.id) < 0
    form(action='/events/' + event.id, method='POST')
      input(type='hidden', name='_method', value='PUT')
      input(type='hidden', name='_type', value='attend')
  
      if event.passkey
        label(for='passkey') Passkey:
        .input
          input(type='text', name='passkey')#passkey
    
      input(type='submit', value="I'm here!").btn.large
  
  if (attendees.length != 0)
    h3 Who's going (#{attendees.length})
    table.span5
      tbody
        each attendee in attendees
          if user && attendee.id == user.id
            tr
              td(style='padding-top: 15px')= attendee.name.first + ' ' + attendee.name.last
              td
                form(action='/events/' + event.id, method='POST', style='margin-bottom: 0')
                  input(type='hidden', name='_method', value='PUT')
                  input(type='hidden', name='_type', value='unattend')
                  input(type='submit', value='X').btn
          else
            tr
              td= attendee.name.first + ' ' + attendee.name.last
              td



#confirm-dialog(style='display: none').modal.hide
  .modal-header
    a(href='#').close ×
    h3 Delete #{event.title}?
  .modal-body
    p Are you sure you want to delete #{event.title}?
  .modal-footer
    a(href='#').btn.error.confirm Confirm
    a(href='#').btn.secondary.cancel Cancel
