a(href='/events/') Back to event list

h1= title

h2= org.name
h4= event.description
h6= event.start_time + ' - ' + event.stop_time

if (place != null)
  p= place.name

if (typeof attendees != 'undefined')
  if(attendees.length != 0) 
    h3 Who's going
  each attendant in attendees
    .attendant
      ul
        li= attendant.name.first + ' ' + attendant.name.last
