a(href='/create-event/') Create an event

h1= title

if (typeof events != 'undefined')
  each e in events
    .event
      h2
        a(href='/events/' + e.event._id)= e.event.title
      p= e.org.name
      p= e.event.start_time + ' - ' + e.event.stop_time
      p= e.event.description
