extends layout
block content
  .content
    .page-header
      h1= event.title + ' - Kiosk Mode'
        small
          a(href='/orgs/' + org.slug)= org.name

    if place != null
      p= place.name

    != md.parse(escape(event.description))
    
    h3 Guest Sign-in
    p.helptext
      | Enter a valid e-mail and gtid to check-in, if values are assigned
      | to a user in the system, the user is automatically checked in! Using
      | unrecognized values will create a guest account which can be upgraded
      | later by using the same credentials during registration.
    form(action='/events/' + event.id + '/kiosk', method='POST', onsubmit='return validate()')
      input(type='hidden', name='_csrf', value=req.session._csrf)
      input(type='hidden', name='_method', value='PUT')
      input(type='hidden', name='_type', value='guest')
      label(for='email') e-mail:
      .input
        input(type='e-mail'  , name='email', autofocus='autofocus')#email
      .err#email_err
        p e-mail must be valid!
      label(for='gtid') gtID:
      .input
        input(type='number' , name='gtid')#gtid
      .err#gtid_err
        p gtid must be 9 digits!
      input(type='submit', value='Guest Attend').btn.large


    h3 Start Time
    p(title=event.start_time)= alcohol(event.start_time)

    h3 End Time
    p(title=event.end_time)= alcohol(event.end_time)

    

   if (att_users.length != 0 || legacy.length != 0)
      h3 Who's going (#{att_users.length + legacy.length})
      table.span5
        tbody
          each attendee in att_users
              tr
                td= attendee.name.first + ' ' + attendee.name.last
                td
          each attendee in legacy
            tr
              td= attendee.name.first + ' ' + attendee.name.last
              td 

    if (att_guests.length != 0)
      h3(style='clear:both') Guests (#{att_guests.length})
      table.span5
        tbody
          each attendee in att_guests
            tr
              td= attendee.email

  script(type='text/javascript')
      function validate(){
        var email = document.getElementById('email');
        var gtid = document.getElementById("gtid");
        var emailre = /\S+@\S+\.\S+/;
        var gtidre = /\d{9}/;
        var ret = true
        document.getElementById("gtid_err").setAttribute("style",'display:none');
        document.getElementById("email_err").setAttribute("style",'display:none');
        if (!emailre.test(email.value)){
          document.getElementById("email_err").setAttribute("style",'display:block');
          ret =  false;
        }
        if (!gtidre.test(gtid.value)){
          document.getElementById("gtid_err").setAttribute("style",'display:block');
          ret =  false;
        }
        return ret;
      }
