!!! 5
html
  head
    title College of Computing Student Organizations
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/smoothness/jquery-ui.css')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js')
    script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.2.2/underscore-min.js')

  body
    .navbar.navbar-fixed-top
      .navbar-inner
         .container
             a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
               span.icon-bar
               span.icon-bar
               span.icon-bar
             a.brand(href='/') CoC Student Organizations
             .nav-collapse
                ul.nav
                  - var header_elements = [{url: '/orgs', name: 'Orgs'}, {url: '/events', name: 'Events'}];
                  each h in header_elements
                    if h.url == req.url || h.url + '/' == req.url
                      li.active
                        a(href=h.url)= h.name
                    else
                      li
                        a(href=h.url)= h.name
                ul.nav.pull-right
                  if req.user
                    li.dropdown.collapse-hide(data-dropdown='dropdown')
                      a(href='',data-toggle='dropdown').dropdown-toggle= user.name.first + ' ' + user.name.last
                        b.caret
                      ul.dropdown-menu
                        li
                          a(href='/logout') Logout
                    li.collapse-show
                        a(href='/logout') Logout
                  else
                    li
                      form(action='/register', method='GET').pull-right
                        button(type='submit').btn Register
                      form(action='/login', method='POST').pull-right
                        input(type='hidden', name='next', value=req.url)
                        input(type='text', name=everyauth.password.loginFormFieldName, placeholder='GT User ID').input-small
                        input(type='password', name=everyauth.password.passwordFormFieldName, placeholder='Password').input-small
                        button(type='submit').btn Login
      
    #content.container
      .inner
        != messages()
        != body

    script(type='text/javascript', src='/javascripts/bootstrap.js')
    script(type='text/javascript', src='/javascripts/confirm.js')
