extends layout
block content
  if typeof errors != 'undefined'
    each error in errors
      .alert-message.error.fade.in
        a(href='#').close ×
        p
          strong= error

  .content
    .page-header
      h2 Register

    form(action='/register', method='POST').form-horizontal
      input(type='hidden', name='_csrf', value=req.session._csrf)
      .control-group
        label.control-label(for='email') Email
        .controls
          input(type='text', name='userParams[email]', value=req.regdata.email)#email

      .control-group
        label.control-label(for='gt_id') GT ID number
        .controls
          input(type='text', name='userParams[gt_id]', value=req.regdata.gt_id)#gt_id
          p(style='font-size:8pt;color:gray;margin-bottom:3px;') (902 number, on your buzzcard) 

      .control-group
        label.control-label(for='gt_userid') GT User ID
        .controls
          input(type='text', name=everyauth.password.loginFormFieldName, value=req.regdata.gt_userid)#gt_userid
          p(style='font-size:8pt;color:gray;margin-bottom:3px;') e.g. jdoe3, jsmith335

      .control-group
        label.control-label(for='first_name') First Name
        .controls
          input(type='text', name='userParams[first_name]', value=req.regdata.fname)#first_name

      .control-group
        label.control-label(for='last_name') Last Name
        .controls
          input(type='text', name='userParams[last_name]', value=req.regdata.lname)#last_name

      .control-group
        label.control-label(for='password') Password
        .controls
          input(type='password', name=everyauth.password.passwordFormFieldName)#password
          p(style='font-size:8pt;color:gray;margin-bottom:3px;') password must be 6 characters or longer

      .form-actions
        input(type='submit', value='Register').btn.btn-primary

  script(type='text/javascript')
      $(function() {
        if ($('#email')[0].value === ""){
          $('#email').focus();
        } else {
          $('#gt_userid').focus();
        }
      });
